// Header
nav {
    #mobile-menu {
        display: none;
        padding: 10px 20px;
        font-size: 3rem;
        line-height: 1;
        justify-content: flex-end;
    }

    ul.navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;



        li {
            display: flex;

            a {
                padding: 20px 30px;
            }
        }
    }
}


// Footer
footer {
    background-color: #b67a59;
    color: white;
}

/*Highlight: c18e72
Darker : a36848*/

// Mobile

@media (max-width: 768px) {
    nav {
        position: relative;
        overflow-x: hidden;

        #mobile-menu {
            display: flex;
        }

        ul.navbar {
            position: absolute;
            right: -100%;
            transition: right 200ms linear;
            flex-direction: column;

            &.open {
                right: 0px;
            }
        }
    }

}